body {
    background: rgb(108, 36, 36);
    color: rgb(15, 12, 12); 
    margin-top: 150px;
}

h1, h2, h3, h4, h5, h6{
    color: crimson;
}

.bg-steel {
    background-color: lightblue;
}

.article-metadata{
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid blueviolet;
}

.article-title{
    color: rgb(5, 4, 3);
}

.article-title:hover {
    white-space: pre-line;
    color: rgb(32, 38, 81);
}

.article-content{
    white-space: 'pre-line';
    color: rgb(53, 49, 49);
}

.content-section{
    background: white;
    padding: 10px 20px;
    border: 1px solid darkslategrey;
    border-radius: 5px;
    margin-bottom: 20px;
}

.site-header .navbar-nav .nav-link{
    color: wheat;
}
.site-header .navbar-nav .nav-link:hover{
    color: white;
}

.site-header .navbar-nav .nav-link:active{
    font-weight: 500;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
  }

  .article-img {
    height: 65px;
    width: 65px;
}